!!!
%html
    %body
        =yield
        %form(action="/" method="POST")
            %label(for="url")
            %input(type="text" name="url" id="myurl" autofocus size=100 accesskey="s")
            %input(type="text" name="personal" id="pers" autofocus size=25 accesskey="s")
            %input(type="submit" value="Shorten")
