

#cabecera{
	text-align: right;
	padding-top:20px;
	padding-bottom:10px;
	padding-right: 15px;
  	padding-left: 50px;
	height: 100px;
	font-family: Verdana;
	background-color: #363636;
	color: white;	
	background-image: url("/img/logo.png");
	background-repeat: no-repeat;
}

#cabecera a{
	color: white;
}
.iconos{
	margin-top: 2%;
}

.foto {
	margin-right: 25px;

}

.container{
	background-color: white;
	height: 100%;
	width: 100%;	

}

#cuerpo{
	background-color: #f7f7f9;	
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
}



#urls{
	padding-top: 2%;
}



.text-muted{
	padding-top: 13px;
	text-align: center;
}



.footer {
    bottom: 0;
    height: 60px;
    position: relative;
    width: 100%;
    margin-top: 10%;
}

.footer p{
	text-align: center;
	margin: 10px 0 10px;
}

.short{
	margin-bottom: 3%;
}