
body{
background-color: #ececec;
}

#cabecera{
	text-align: right;
	padding-top:20px;
	padding-bottom:10px;
	padding-right: 15px;
  	padding-left: 50px;
	height: 100px;
	font-family: Verdana;
	background-color: #363636;
	color: white;

	
	background-image: url("/img/logo.png");
	background-repeat: no-repeat;
}

#cabecera a{
	color: white;
}

.container{
	background-color: white;
	box-shadow: 0px 2px 20px 5px #999;

}

#cuerpo{
	background-color: #f7f7f9;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left:20%;
	margin-right:20%;
	margin-bottom: 3%;
	text-align: center;
}

#input{
	padding-left: 23%;
	padding-right: 23%;
	text-align: left;
}

#urls{
	padding-top: 2%;
}

#pie{
	background-color: #363636;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	color: white;
	padding-top: 0.25%;
	padding-bottom: 0.25%;
	margin-bottom: 0.5%;
}